body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.weather-form {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.city-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  flex: 1;
}

.submit-button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

h1 {
  background: #4caf50;
  color: white;
  margin: 0;
  padding: 10px;
}

form {
  margin: 20px;
}

#weatherInfo {
  margin-top: 20px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 5px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.427);
}

.forecast {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecast-day {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: calc(33% - 10px);
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.footer {
  margin-top: auto;
  background: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
}
